{% extends "layout.html" %}
{% block content %}
    <h1>Text Entailment</h1>

    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Premises: {{ text }}</legend>
                <div class="form-group">
                    {{ form.hypothesis.label(class="form-control-label") }}
                    {% if form.hypothesis.errors %}
                        {{ form.hypothesis(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.hypothesis.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.hypothesis(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.label_type.label(class="form-control-label") }}
                    {% if form.label_type.errors %}
                        {{ form.label_type(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.label_type.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.label_type(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
               Any Issue? <a class="ml-2" href="{{ url_for('report') }}">Report Now</a>
            </small>
        </div>
    </div>
{% endblock content %}